body {
    background-image: url('/resources/images/pexels-wood1.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}
.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
}


h1, h2, .navbar-brand {
    font-family: 'Cookie', cursive;
    color: #6d4c41;
}


.navbar {
    background-color: #5d4037; 
}

.nav-link {
    color: #f4e8c1 !important;
}

.nav-link:hover {
    color: #ff7043 !important; 
}

.card {
    background-color: #fff8e1; 
    border: 1px solid #d7ccc8; 
}

.card-title {
    color: #6d4c41; 
}

.btn-primary {
    background-color: #ff7043; 
    border-color: #ff7043;
}

.btn-primary:hover {
    background-color: #d84315; 
    border-color: #d84315;
}
